@font-face {
  font-family: night;
  src: url(TheNightWatch.ttf);
}


body {
  background: rgba(0,0,0,1) 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}
/* .content {
  display: flex;
  flex-flow: column;
  height: 100%;
} */

.bg1 {
  background: rgb(128,15,15);
  background: linear-gradient(90deg, rgba(128,15,15,1) 0%, rgba(0,0,0,1) 100%);
}

.bg2 {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,15,15,1) 100%);
}

.nav {
  transform: top left;
  position: sticky;
  top: 80px;
  left: 50px;
  /* color: black; */
  z-index: 1;
  /* mix-blend-mode: multiply; */
}
.nav a {
  color: white;
  opacity: 20%;
  text-decoration: none;
  font-size: 2em;
  margin: 0 10px;
  display: block;
  font-family: night;
}



.block1 {
  margin: auto;
  transform: skewY(3deg);
  height: 900px;
  border-bottom: solid 50px white;
}

.block1-inner{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 5%;
  /* min-height: 100%; */
}

.block1-inner div {
  flex: 1 1 0;
  height: 100%;
}

.b11 {
  transform: skewY(-3deg);
  min-height: 50vh;
  overflow: visible;
}

.b11 h1 {
  color: #fff;
  font-family: night;
  font-size: 180px;
  position: absolute;
  top: -80px;
  right: 220px;
  text-align: right;
}

.b11 h2 {
  color: #fff;
  font-family: night;
  font-size: 50px;
  position: absolute;
  /* padding-left: 70px; */
  top: 350px;
  right: 50px;
  min-width: 100%;
  /* text-align: right; */
}


.block2 {
  margin: 0px;
  transform: skewY(3deg);
  min-height: 1000px;
  border-bottom: solid 50px white;
  /* clip-path: polygon(0 0, 100% 7%, 100% 93%, 0% 100%); */
}

.div1 {
  background-color: white;
  width: 105%;
  min-height: 50px;
  transform: rotate(-0.5deg);
  /* margin-bottom: -3px; */
  /* margin-left: -3px; */
  z-index: 1;position: absolute;
  bottom: -35px;
}

.div2 {
  background-color: white;
  width: 105%;
  min-height: 50px;
  transform: rotate(0.5deg);
  /* margin-bottom: -3px; */
  /* margin-left: -3px; */
  z-index: 1;position: absolute;
  bottom: -35px;
}

.block2-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: skewY(-3deg);
  gap: 20px;
  padding: 10%;
}

.project {
  flex: 1 1 0;
  background-color: #fff;
  height: 100%;
  padding-bottom: 20px;
}

.project img {
  width: 100%;
}

.project h2 {
  padding-left: 5px;
  font-family: night;
}

.project p {
  padding-left: 5px;
}

.project a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.projects {
  flex: 1 1 100%;
  /* margin-bottom: 3%; */
  text-align: left;
  justify-content: center;
}

.projects h1 {
  color: #fff;
  font-family: night;
  font-size: 50px;
}






.block3 {
  margin: 0px;
  transform: skewY(3deg);
  min-height: 1000px;
  border-bottom: solid 50px white;
}

.block4 {
  margin: 0px;
  transform: skewY(3deg);
  min-height: 1000px;
  border-bottom: solid 50px white;
}

.block5 {
  margin: 0px;
  transform: skewY(3deg);
  min-height: 1000px;

}
