@font-face {
  font-family: night;
  src: url(br.otf);
}

@font-face {
  font-family: rob;
  src: url(Roboto.ttf);
}

html, body {
	height:100%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Orbitron');
body {
	width: 100%;
	background: #393030;
	overflow-x: hidden;
	overflow-y: auto;
}
span {
  font-family: rob, sans-serif;
  font-size:0.5em;
  color:#fff;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bcbab8 #9d8f8f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #9d8f8f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bcbab8;
    border-radius: 0px;
    border: 0px none #ffffff;
  }

  @keyframes reveal {
    0% {
      transform: translateY(150px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .reveal-text {
    animation: 1s ease-out 0s 1 reveal;
  }


#header{
	position: absolute;
	z-index: 2000;
	width: 100%;
	top:-30px;
}
#header h1{
	font-size: 30px;
  font-family: rob, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	background: #000;
}
#navigation {
	margin-top: 100px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
  text-transform: uppercase;
}

.content1{
	right: 40px;
	left: 280px;
	top: 40%;
	position: absolute;
	padding-bottom: 0px;
  font-family: rob, sans-serif;
}
.content1 h1{
	font-size: 150px;
  font-family: night, sans-serif;
	padding: 0px 0px 0px 0px;
	margin-top: 52px;
  margin-bottom: -30px;
	color: #F9F9F9;
	color: rgba(255,255,255,0.9);
  letter-spacing: .3rem;
  text-align: right;
  text-transform: uppercase;
}

.content1 h2 {
  color:#F9F9F9;
  font-family: night, sans-serif;
  letter-spacing: .3rem;
  text-align: right;
  font-weight: 400;
}
.content1 p{
	font-size: 14px;
	color: #F9F9F9;
	border-bottom:1px solid #9D8F8F;
  text-align: right;
}

.panel{
	width: 98%;
	min-height: 100%;
	position: absolute;
	background-color: #9D8F8F;
	/* box-shadow: 4px -4px 4px rgba(0,0,0,0.2); */
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel:target{
	margin-left: 0%;
	background-color: #393030;
}
#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
	/* background: #9D8F8F; */
	color: #F9F9F9;
}
#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works img {

}
#form p{
	background: #F9F9F9;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #F9F9F9;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #F9F9F9;
}
.one { width: 6.866%; }
.button-1{
  font-family: night, sans-serif;
  font-size: 15px;
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 0;
  position: relative;
  color: #F9F9F9;
  letter-spacing: .3rem;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-1:before{
  font-family: rob, sans-serif;
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #625757;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-1:hover{
  color: #F9F9F9;
}

.button-1:hover:before{
  left: 0;
}

.project-content {
  max-width: 60%;
}

.content{
	right: 40px;
	left: 280px;
	top: 30%;
	position: absolute;
	padding-bottom: 0px;
  font-family: rob, sans-serif;
}
.content h1{
	font-size: 80px;
  font-family: night, sans-serif;
	padding: 0px 0px 0px 0px;
	margin-top: 52px;
  margin-bottom: -50px;
	color: #F9F9F9;
  letter-spacing: .3rem;
  text-align: right;
  font-weight: 400;
  text-transform: uppercase;
}

.content h2 {
  color:#F9F9F9;
  font-family: night, sans-serif;
  letter-spacing: .3rem;
  margin-bottom: -10px;
  text-align: right;
  font-weight: 400;
}
.content p{
	font-size: 14px;
	color: #F9F9F9;
  margin-bottom: 55px;
  line-height: 150%;
}

.projetc-link {
  text-decoration: none;
  color: #F9F9F9;
  font-size: 50px;
  transition: all 0.3s ease-in-out;
  font-family: night, sans-serif;
}

.projetc-link:hover {
  color: #BCBAB8;
  text-decoration: none;
}

.learn-more {
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  font-family: night, sans-serif;
  color: #F9F9F9;
  transition: all 0.3s ease-in-out;
  border-bottom:1px solid #9D8F8F;
  padding-top: 5px;
}

.learn-more:hover {
  color: #BCBAB8;
  text-decoration: none;
}

.skills {
  background-color: #625757;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 70px;
}

.about1 {
  flex: 1 1 0;
}

.about2 {
  flex: 1 1 0;
  text-align: right;
}

.about2 img {
  min-width: 80%;
  align-self: right;
  filter: grayscale(50%);
  transition: all 0.3s ease-in-out;
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

.about2 img:hover {
  filter: grayscale(0%);
}

.about1 h2 {
  text-align: left;
}

.about1 p {
  text-align: left;
  line-height: 150%;
}
